<!-- <div class="container">
  <div class="auth-form">
    <div class="auth-form__container">
      <div class="auth-form__header">
        <h3 class="auth-form__heading">Đăng nhập</h3>
        <a class="auth-form__switch-btn" href="register">Đăng ký</a>
      </div>
  
      <div class="auth-form__form">
        <form (ngSubmit)="onSubmit()">
          <div class="auth-form__group">
            <input type="text" class="auth-form__input" placeholder="Email của bạn" id="username" name="username" [(ngModel)]="model.username" required>
          </div>
          <div class="auth-form__group">
            <input type="password" class="auth-form__input" placeholder="Mật khẩu của bạn" id="password" name="password" [(ngModel)]="model.password" required>
          </div>
          <br>
          <button class="btn btn-primary" type="submit">ĐĂNG NHẬP</button>
          <div class="auth-form__aside">
            <p class="auth-form__help">
              <a href="" class="auth-form__help-link auth-form__help-link-forgot">Quên mật khẩu ?</a>
            </p>
          </div>
  
          <div class="auth-form__controls">
            <button class="btn btn-normal auth-form__controls-back">
              <a href="#" class=""> TRỞ LẠI</a></button>
          </div>
  
        </form>
      </div>
    </div>
  </div> 
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">Admin</h2>
      <div class="card my-5">
        <form class="card-body cardbody-color p-lg-5" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="200px" alt="profile">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="username"
              placeholder="User Name" id="username" name="username" [(ngModel)]="model.username">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="Password" id="password" name="password" [(ngModel)]="model.password">
          </div>
          <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button></div>
          <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
            Registered? <a href="#" class="text-dark fw-bold"> Create an
              Account</a>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>