<h1>Sản Phẩm</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
  (click)="clearFormData()">
  Thêm mới
</button>
<br>
<br>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm mới sản phẩm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #form="ngForm">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-6">
                  <label class="form-label">Tên sản phẩm</label>
                  <input class="form-control" name="name" #name="ngModel" [(ngModel)]="product.name"
                  type="text" 
                  placeholder="Tên sản phẩm" 
                  required
                  minlength="4" 
                  maxlength="100" 
                  pattern="^[A-Za-z ].*"
                  autocomplete="off">
                  <div class="error-message" *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div *ngIf="name.errors?.['required']">Vui lòng được để trống</div>
                    <div *ngIf="name.errors?.['minlength']">Tên phải dài ít nhất 3 ký tự</div>
                    <div *ngIf="name.errors?.['maxlength']">Tên không quá 100 kí tự</div>
                    <div *ngIf="name.errors?.['pattern']">Tên không nhập kí tự đặc biệt</div>
                  </div>
                </div>
                <div class="mb-6">
                  <label class="form-label">Code</label>
                  <input class="form-control" name="code" #code="ngModel" [(ngModel)]="product.code"
                  placeholder="Nhập mã code" 
                  required
                  minlength="4" 
                  maxlength="8" 
                  pattern="^[A-Za-z ].*"
                  autocomplete="off">
                  <div class="error-message" *ngIf="code.invalid && (code.dirty || code.touched)">
                    <div *ngIf="code.errors?.['required']">Vui lòng được để trống</div>
                    <div *ngIf="code.errors?.['minlength']">Code phải dài ít nhất 3 ký tự</div>
                    <div *ngIf="code.errors?.['maxlength']">Code không quá 8 kí tự</div>
                    <div *ngIf="code.errors?.['pattern']">Chỉ nhập chữ và số</div>
                  </div>
                </div>
                <div class="mb-6">
                  <label class="form-label">Mô tả</label>
                  <input class="form-control" name="description" #description="ngModel" [(ngModel)]="product.description"
                  placeholder="Nhập mô tả sản phẩm" 
                  required
                  minlength="4" 
                  maxlength="100" 
                  pattern="/^[a-zA-Z0-9 ]*$/"
                  autocomplete="off">
                  <div class="error-message" *ngIf="description.invalid && (description.dirty || description.touched)">
                    <div *ngIf="description.errors?.['required']">Vui lòng được để trống</div>
                    <div *ngIf="description.errors?.['minlength']">Mô tả phải dài ít nhất 3 ký tự</div>
                    <div *ngIf="description.errors?.['maxlength']">Mô tả không quá 100 kí tự</div>
                    <div *ngIf="description.errors?.['pattern']">Chỉ nhập số</div>
                  </div>
                </div>
                <div class="mb-6">
                  <label class="form-label">Giá</label>
                  <input type="text" class="form-control" name="price" #price="ngModel" [(ngModel)]="product.price"
                  required
                  minlength="4" 
                  maxlength="100" 
                  pattern="/^[a-zA-Z0-9 ]*$/"
                  autocomplete="off"
                  inputmode="numeric"
                  pattern="[0-9]*">
                  <div class="error-message" *ngIf="price.invalid && (price.dirty || price.touched)">
                    <div *ngIf="price.errors?.['required']">Vui lòng được để trống</div>
                    <div *ngIf="price.errors?.['minlength']">Giá phải dài ít nhất 3 số</div>
                    <div *ngIf="price.errors?.['maxlength']">Giá không quá 100 số</div>
                    <div *ngIf="price.errors?.['pattern']">Giá không đúng định dạng</div>
                  </div>
                </div>
                <div class="mb-6">
                  <label class="form-label">Giá Nhập</label>
                  <input type="number" class="form-control" name="priceNet" #priceNet="ngModel"
                    [(ngModel)]="product.priceNet"
                    required
                    minlength="4" 
                    maxlength="100" 
                    pattern="/^[a-zA-Z0-9 ]*$/"
                    autocomplete="off"
                    inputmode="numeric"
                    pattern="[0-9]*">
                    <div class="error-message" *ngIf="priceNet.invalid && (priceNet.dirty || priceNet.touched)">
                      <div *ngIf="priceNet.errors?.['required']">Vui lòng được để trống</div>
                      <div *ngIf="priceNet.errors?.['minlength']">Giá phải dài ít nhất 3 số</div>
                      <div *ngIf="priceNet.errors?.['maxlength']">Giá không quá 100 số</div>
                      <div *ngIf="priceNet.errors?.['pattern']">Giá không đúng định dạng</div>
                    </div>
                </div>
                <div class="mb-6">
                  <label class="form-label">Danh mục</label>
                  <select class="form-select" name="cars" id="cars" [(ngModel)]="product.CategoryId">
                    <option *ngFor="let cate of categorys" [value]="cate.id">
                      {{cate.name}}
                    </option>
                  </select>
                </div>
                <div class="mb-6">
                  <label class="form-label">Số lượng</label>
                  <input type="number" class="form-control" name="quantity" #quantity="ngModel"
                    [(ngModel)]="product.quantity">
                </div>

                <br>
              </div>
              <div class="col-md-6">
                <!-- <div class="mb-6">
                  <label class="form-label">Trạng thái</label>
                  <input type="number" class="form-control" name="status" #status="ngModel"
                    [(ngModel)]="product.status">
                </div> -->
                <div class="mb-6">
                  <label class="form-label">Trạng thái</label>
                  <select class="form-select" name="status" #status="ngModel" [(ngModel)]="product.status">
                    <option value="1">Hoạt động 1</option>
                    <option value="2">Ngừng Hoạt động 2</option>
                  </select>
                </div>
                <div class="mb-6">
                  <label class="form-label">Select Image</label>
                  <input type="file" #fileInput (change)="onFileSelected($event)" class="form-control" name="image">
                </div>
                <div class="mb-6">
                  <label class="form-label">UrlImages</label>
                  <input type="text" class="form-control" name="image" #image="ngModel" [(ngModel)]="product.UrlImage" disabled>
                  <h2>image</h2>
                  <img [src]="[product.UrlImage]" alt="" height="200px" width="200px">
                </div>
              </div>
            </div>
          </div>




          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<h1>Danh sách sản phẩm</h1>
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Mô tả</th>
      <th>Giá</th>
      <th>Giá Nhập</th>
      <th>Ảnh</th>
      <th>Số lượng</th>
      <th>Trạng thái</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pd of products;index as i">
      <td>#{{i+1}}</td>
      <td>{{pd.name}}</td>
      <td>{{pd.description}}</td>
      <td>{{pd.price | currency:'VND': 'symbol':'1.0-0' | slice: 1}}đ</td>
      <td>{{pd.priceNet | currency:'VND': 'symbol':'1.0-0' | slice: 1}}đ</td>
      <td><img style="height: 70px; margin: 0 auto; width: 70px;" [src]="pd.image"></td>
      <td>{{pd.quantity}}</td>
      <td>{{pd.status}}</td>
      <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="handleUpdate(pd)">
          Edit
        </button>
      </td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
<br>
<!-- <input type="file" (change)="onFileSelected($event)" />
 <input type="text" [(ngModel)]="public_id" placeholder="Enter image name" />
<button (click)="upLoad()">Upload Image</button> -->