<div class="d-flex justify-content-between align-items-center" style="margin: 20px;">
  <h1>Sản Phẩm</h1>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    (click)="clearFormData()">
    Thêm mới
  </button>

</div>
<!-- Button trigger modal -->
<br>
<br>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm mới sản phẩm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-6">
                  <label class="form-label">Tên sản phẩm</label>
                  <input class="form-control" formControlName="name" type="text" placeholder="Tên sản phẩm">
                  <div class="error-message" *ngIf="productForm.get('name')?.invalid && (productForm.get('name')?.dirty || productForm.get('name')?.touched)">
                    <div *ngIf="productForm.get('name')?.errors?.['required']">Vui lòng được để trống</div>
                    <div *ngIf="productForm.get('name')?.errors?.['minlength']">Tên phải dài ít nhất 3 ký tự</div>
                    <div *ngIf="productForm.get('name')?.errors?.['maxlength']">Tên không quá 100 kí tự</div>
                    <div *ngIf="productForm.get('name')?.errors?.['pattern']">Tên không hợp lệ</div>
                  </div>
                </div>
                <div class="mb-6">
                  <label class="form-label">Code</label>
                  <input class="form-control" formControlName="code" type="text" placeholder="Nhập mã code">
                  <div class="error-message" *ngIf="productForm.get('code')?.invalid && (productForm.get('code')?.dirty || productForm.get('code')?.touched)">
                    <div *ngIf="productForm.get('code')?.errors?.['required']">Vui lòng được để trống</div>
                    <div *ngIf="productForm.get('code')?.errors?.['minlength']">Code phải dài ít nhất 4 ký tự</div>
                    <div *ngIf="productForm.get('code')?.errors?.['maxlength']">Code không quá 8 kí tự</div>
                    <div *ngIf="productForm.get('code')?.errors?.['pattern']">Chỉ nhập chữ và số</div>
                  </div>
                </div>
                <div class="mb-6">
                  <label class="form-label">Mô tả</label>
                  <input class="form-control" formControlName="description" type="text" placeholder="Nhập mô tả sản phẩm">
                  <div class="error-message" *ngIf="productForm.get('description')?.invalid && (productForm.get('description')?.dirty || productForm.get('description')?.touched)">
                    <div *ngIf="productForm.get('description')?.errors?.['required']">Vui lòng được để trống</div>
                    <div *ngIf="productForm.get('description')?.errors?.['minlength']">Mô tả phải dài ít nhất 4 ký tự</div>
                    <div *ngIf="productForm.get('description')?.errors?.['maxlength']">Mô tả không quá 100 kí tự</div>
                  </div>
                </div>
                <div class="mb-6">
                  <label class="form-label">Giá</label>
                  <input class="form-control" formControlName="price" type="number" placeholder="Nhập giá VND">
                  <div class="error-message" *ngIf="productForm.get('price')?.invalid && (productForm.get('price')?.dirty || productForm.get('price')?.touched)">
                    <div *ngIf="productForm.get('price')?.errors?.['required']">Vui lòng được để trống</div>
                    <div *ngIf="productForm.get('price')?.errors?.['minlength']">Giá phải dài ít nhất 4 số</div>
                    <div *ngIf="productForm.get('price')?.errors?.['maxlength']">Giá không quá 100 số</div>
                    <div *ngIf="productForm.get('price')?.errors?.['pattern']">Giá nhập không đúng định dạng</div>
                  </div>
                </div>
                <div class="mb-6">
                  <label class="form-label">Giá Nhập</label>
                  <input class="form-control" formControlName="priceNet" type="number" placeholder="Nhập giá nhập">
                  <div class="error-message" *ngIf="productForm.get('priceNet')?.invalid && (productForm.get('priceNet')?.dirty || productForm.get('priceNet')?.touched)">
                    <div *ngIf="productForm.get('priceNet')?.errors?.['required']">Vui lòng được để trống</div>
                    <div *ngIf="productForm.get('priceNet')?.errors?.['minlength']">Giá nhập phải dài ít nhất 4 số</div>
                    <div *ngIf="productForm.get('priceNet')?.errors?.['maxlength']">Giá nhập không quá 100 số</div>
                    <div *ngIf="productForm.get('priceNet')?.errors?.['pattern']">Giá nhập không đúng định dạng</div>
                  </div>
                </div>
                <div class="mb-6">
                  <label class="form-label">Danh mục</label>
                  <select class="form-select" formControlName="CategoryId">
                    <option *ngFor="let cate of categorys" [value]="cate.id">{{cate.name}}</option>
                  </select>
                  <div class="error-message" *ngIf="productForm.get('CategoryId')?.invalid && (productForm.get('CategoryId')?.dirty || productForm.get('CategoryId')?.touched)">
                    Trường này không được để trống.
                  </div>
                </div>
                <div class="mb-6">
                  <label class="form-label">Số lượng</label>
                  <input class="form-control" formControlName="quantity" type="number" placeholder="Nhập số lượng" pattern="[1-9]*">
                  <div class="error-message" *ngIf="productForm.get('quantity')?.invalid && (productForm.get('quantity')?.dirty || productForm.get('quantity')?.touched)">
                    <div *ngIf="productForm.get('quantity')?.errors?.['pattern']">Không được nhập số âm</div>
                  </div>
                </div>
                <br>
              </div>
              <div class="col-md-6">
                <div class="mb-6">
                  <label class="form-label">Trạng thái</label>
                  <select class="form-select" formControlName="status">
                    <option value="1">Hoạt động 1</option>
                    <option value="2">Ngừng Hoạt động 2</option>
                  </select>
                  <div class="error-message" *ngIf="productForm.get('status')?.invalid && (productForm.get('status')?.dirty || productForm.get('status')?.touched)">
                    <!-- Thêm các thông báo lỗi tương tự như các trường trước (nếu cần) -->
                  </div>
                </div>
                
                <div class="mb-6">
                  <label class="form-label">Select Image</label>
                  <input type="file" (change)="onFileSelected($event)">
                </div>
                
                <div class="mb-6">
                  <label class="form-label">UrlImages</label>
                  <input type="text" class="form-control" formControlName="UrlImage">
                  <h2>image</h2>
                  <img [src]="productForm.get('UrlImage')?.value" alt="" height="200px" width="200px">
                </div>
                
              </div>
            </div>
          </div>

          
          <div class="modal-footer">
            <div *ngIf="ErrorMessage" class="error-message">
              {{ ErrorMessage }}
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="input-group" style="max-width: 300px;">
  <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Tìm kiếm sản phẩm"
      aria-label="Search" aria-describedby="searchButton" (input)="loadProductsSearch()">
  <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="searchButton">Tìm kiếm</button>
  </div>
</div>
<br>
<h1>Danh sách sản phẩm</h1>
<!-- <table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Mô tả</th>
      <th>Giá</th>
      <th>Giá Nhập</th>
      <th>Ảnh</th>
      <th>Số lượng</th>
      <th>Trạng thái</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pd of products;index as i">
      <td>#{{i+1}}</td>
      <td>{{pd.name}}</td>
      <td>{{pd.description}}</td>
      <td>{{pd.price | currency:'VND': 'symbol':'1.0-0' | slice: 1}}đ</td>
      <td>{{pd.priceNet | currency:'VND': 'symbol':'1.0-0' | slice: 1}}đ</td>
      <td><img style="height: 70px; margin: 0 auto; width: 70px;" [src]="pd.image"></td>
      <td>{{pd.quantity}}</td>
      <td>{{pd.status}}</td>
      <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="handleUpdate(pd)">
          Edit
        </button>
      </td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table> -->
<nz-table #basicTable [nzData]="products" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize" [nzFrontPagination]="false" (nzPageIndexChange)="loadProductsSearch()">
  <thead>
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Mô tả</th>
      <th>Giá</th>
      <th>Giá Nhập</th>
      <th>Ảnh</th>
      <th>Số lượng</th>
      <th>Trạng thái</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pd of basicTable.data;index as i">
      <td>#{{i+1}}</td>
      <td style="font-weight: 700;">{{pd.name}}</td>
      <td>{{pd.description}}</td>
      <td>{{pd.price | currency:'VND': 'symbol':'1.0-0' | slice: 1}}đ</td>
      <td>{{pd.priceNet | currency:'VND': 'symbol':'1.0-0' | slice: 1}}đ</td>
      <td><img style="height: 70px; margin: 0 auto; width: 70px;" [src]="pd.image"></td>
      <td>{{pd.quantity}}</td>
      <td>{{pd.status}}</td>
      <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="handleUpdate(pd)">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
<br>
<!-- <input type="file" (change)="onFileSelected($event)" />
 <input type="text" [(ngModel)]="public_id" placeholder="Enter image name" />
<button (click)="upLoad()">Upload Image</button> -->