/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.nz-message {
    z-index: 10000;
    top: 80px;
}

#nz-message {
    top: 80px;
    z-index: 10000;
}